name: Deploy React to AWS
on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t my-react-app -f Dockerfile .

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install --upgrade pip
          pip3 install awscli

      - name: Set up AWS credentials and region
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-east-2

      - name: Create deployment package
        run: |
          zip -r deploy.zip . -x '*.git*' -x 'node_modules/*'

      - name: Upload deployment package to S3
        run: |
          aws s3 cp deploy.zip s3://${{ secrets.S3_BUCKET }}/docker-react/${{ github.sha }}.zip

      - name: Create new Elastic Beanstalk application version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name docker-react \
            --version-label ${{ github.sha }} \
            --source-bundle S3Bucket=${{ secrets.S3_BUCKET }},S3Key=docker-react/${{ github.sha }}.zip

      - name: Wait for Elastic Beanstalk environment to be ready
        run: |
          while [[ $(aws elasticbeanstalk describe-environments --environment-names Docker-react-env --query "Environments[0].Status" --output text) != "Ready" ]]; do
            echo "Waiting for environment to be ready..."
            sleep 30
          done

      - name: Update Elastic Beanstalk environment
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name Docker-react-env \
            --version-label ${{ github.sha }}
